img.img-thumbnail {
    width: 80%;
    height: 80%;
  }

  footer{
    text-align: center;
    padding: 40px 0px;
    font-size: 20px;
    background-color: rgb(35, 2, 30) ;
    color: white;
}

nav{
    background-color: rgb(2, 26, 39);
    color: white;
    text-align: center;
}

.container{
background-color: rgb(145, 4, 4);
}

body{
    background-color: rgb(255, 217, 1);
}
